<?xml version="1.0" encoding="UTF-8" ?>
<phpunit colors="true" bootstrap="vendor/autoload.php"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         >
    <testsuites>
        <testsuite name="Autoframe File System Components">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Package Dependencies Autoframe/*">
            <directory>*/autoframe/*/Tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>